In [1]:
import pandas
import seaborn
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pandas.read_csv(url, sep = '\t')
chipotle_data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [2]:
chipotle_data.info()
chipotle_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [3]:
chipotle_data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [4]:
item_orders = chipotle_data.groupby("item_name")["quantity"].sum()
most_ordered_item = item_orders.idxmax()
highest_quantity = item_orders.max()
print(most_ordered_item)
print(highest_quantity)

Chicken Bowl
761

In [5]:
process_prices= chipotle_data["item_price"].str.replace("$","").astype(float)
total_revenues= process_prices.sum()
print(total_revenues)

34500.16

In [10]:
## Total number of orders
print(chipotle_data['order_id'].max())
print(chipotle_data['order_id'].nunique())

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos
12         6         1                     Chicken Soft Tacos
13         7         1                           Chicken Bowl
14         7         1                    Chips and Guacamole
15         8         1  Chips and Tomatillo-Green Chili Salsa
16         8         1                        Chicken Burrito
17         9         1                        Chicken Burrito
18         9         2                            Canned Soda
19        10         1                           Chicken Bowl

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                NaN     $4.45
15                                                NaN     $2.39
16  [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                           [Sprite]     $2.18
19  [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75
1834
1834

In [18]:
items_above_ten = process_prices > 10
items_above_ten.sum()

np.int64(1130)